.popup-wrapper {
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 5px;
  display: grid;
  padding: 20px;
  white-space: nowrap;
  width: min-content;
}
.mapboxgl-popup-content {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}
.mapboxgl-popup-close-button {
  outline: none !important;
  display: none !important;
}