.search {
  height: 95px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: linear-gradient(to bottom, rgb(219, 126, 76), rgb(229, 130, 22));
}
.search-wrapper {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 10px;
  padding-left: 10px;
  align-self: center;
  display: grid;
  grid-template-columns: 7fr 2fr 2fr;
  grid-gap: 10px;
}
.idesa-search {
  display: grid;
  height: 30px;
  grid-template-columns: min-content auto min-content;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .12); 
  padding: 10px;
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
  align-items: center;
}
.maps-input {
  border: none;
  padding-left: 10px;
  font-size: 20px
}
.maps-input::placeholder {
  opacity: 0.8;
}
.maps-input:focus {
  outline: none;
}
.search-cta {
  text-align: center; 
  align-self: center; 
  color: rgba(255, 255, 255, 1); 
  background-color: rgba(235, 108, 65, 1);
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
.search-cta:hover {
  background-color: rgba(231, 80, 30, 1);
}
.filter-wrapper {
  display: flex;
  text-align: center; 
  align-self: center; 
  color: rgba(126, 126, 132, 1); 
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(126, 126, 132, 1);
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
.filter-wrapper:hover {
  background-color: rgba(108, 117, 125, 1);
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 600px) {
 .search {
    grid-template-columns: 15px 2fr 15px;
  } 
  .search-wrapper {
    grid-template-columns: auto min-content min-content;
  }
  .search-cta {
   display: none;
  }
  .filter-wrapper {
    display: none;
  }
}